.card {
  border-radius: 15px;
  margin-top: 3vh;
}

.card-title {
  padding-left: 1vw;
  padding-right: 1vw;
}

input {
  background: #343a40;
  border: none;
  cursor: text;
  text-align: center;
  color: #fff;
  width:100%;
}
