<div class="container bg-faded align-items-center align-middle" @fade>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Complete the form to sign up</h5>
      <form [formGroup]="registrationForm" (submit)="signUp()">
        <div class="row">
          <input type="email" formControlName="email" class="form-control" placeholder="Email Address"
            aria-label="Email Address">
        </div>
        <div class="row">
          <input type="password" formControlName="password" class="form-control" placeholder="Password"
            aria-label="Password">
        </div>
        <div class="row">
          <input type="text" formControlName="displayName" class="form-control" placeholder="Display Name"
            aria-label="Display Name">
        </div>
        <div class="row">
          <button type="submit" class="btn btn-success btn-block"
            [disabled]="!registrationForm.valid || isSignedUp">Sign Up</button>
        </div>
        <div class="row">
          <button class="btn btn-link btn-block" [routerLink]="['/admin']">Back</button>
        </div>

        <div style="height: 10px;"></div>
          <div class="password-warning" *ngIf="shouldDisplayErrorMessage('email')" @fade>
            <p>A valid email must be provided</p>
          </div>
          <div class="password-warning" *ngIf="shouldDisplayErrorMessage('displayName')" @fade>
            <p>A display name should be at least 6 characters</p>
          </div>
          <div class="password-warning" *ngIf="shouldDisplayErrorMessage('password')" @fade>
              <p>A password should contain:</p>
              <ul>
                <li>
                  At least one upper case character.
                </li>
                <li>
                  At least one lower case character.
                </li>
                <li>
                  At least one number.
                </li>
    
                <li>
                  At least one special character.
                </li>
              </ul>
            </div>
      </form>
    </div>
  </div>
</div>