<div class="container bg-faded align-items-center align-middle" @fade>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Enter your email to reset your password</h5>
      <form [formGroup]="forgotPasswordForm" (submit)="resetPassword()">
        <div class="row">
          <input type="email" formControlName="email" class="form-control" placeholder="Email Address"
            aria-label="Email Address">
        </div>
        <div class="row">
          <button type="submit" class="btn btn-success btn-block"
            [disabled]="!forgotPasswordForm.valid || emailSent">Reset your password</button>
        </div>
        <div class="row">
          <button class="btn btn-link btn-block" [routerLink]="['/admin']" routerLinkActive="active">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>