<div class="container-fluid" @fade enterSubmit (enterPressed)="resetPassword()">
  <div class="col-xs-12 full-center">
    <div class="d-none d-lg-block full-center">
      <div class="card text-white bg-dark mb-3 full-center" style="width:50vw;">
        <div>
          <h3>Reset Password</h3>
        </div>
        <div class="card-block">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" aria-describedby="basic-addon1">
          </div>
          <div style="height: 10px;"></div>
          <button class="btn btn-success btn-lg" (click)="resetPassword()">Reset</button>
        </div>
      </div>
    </div>
    <div class="d-lg-none">
      <div class="card text-white bg-dark mb-3 full-center" style="width:100vw;">
        <div>
          <h3>Reset Password</h3>
        </div>
        <div class="card-block">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" aria-describedby="basic-addon1">
          </div>
          <div style="height: 10px;"></div>
          <button class="btn btn-success btn-lg" (click)="resetPassword()">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>